In [1]:
import pandas as pd
import numpy as np

In [8]:
nm = '1ao7'
fr = pd.DataFrame(pd.read_table('final.annotations.txt', sep='\t'))
fr['pdb_id'] = map(lambda x: x.lower(), fr['pdb_id'])

In [9]:
frame = fr[fr['pdb_id'] == nm]
frame.index = range(0, frame.shape[0])
frame.insert(frame.columns.get_loc('tcr_chain'), 'tcr_chain_name', ['alpha'] * 3 + ['beta'] * 3)
frame

,pdb_id,species,chain_mhc_a,mhc_a_allele,chain_mhc_b,mhc_b_allele,mhc_type,chain_antigen,antigen_seq,tcr_chain_name,tcr_chain,tcr_v_allele,tcr_region,tcr_region_start,tcr_region_end,tcr_region_seq
0,1ao7,HomoSapiens,A,A*02:01:59,B,B2M,MHCI,C,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR1,25,31,DRGSQS
1,1ao7,HomoSapiens,A,A*02:01:59,B,B2M,MHCI,C,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR2,48,55,IYSNGDK
2,1ao7,HomoSapiens,A,A*02:01:59,B,B2M,MHCI,C,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR3,87,100,CAVTTDSWGKLQF
3,1ao7,HomoSapiens,A,A*02:01:59,B,B2M,MHCI,C,LLFGYPVYV,beta,E,TRBV6-5*01,CDR1,22,29,QDMNHEY
4,1ao7,HomoSapiens,A,A*02:01:59,B,B2M,MHCI,C,LLFGYPVYV,beta,E,TRBV6-5*01,CDR2,46,49,SVG
5,1ao7,HomoSapiens,A,A*02:01:59,B,B2M,MHCI,C,LLFGYPVYV,beta,E,TRBV6-5*01,CDR3,88,104,CASRPGLAGGRPEQYF

In [233]:
g = frame.groupby(('tcr_chain_name', 'tcr_region'))

In [186]:
str(g.get_group(('alpha', 'CDR1'))['tcr_chain_name'])

'0    alpha\nName: tcr_chain_name, dtype: object'

pdb_id
species
mhc_a_allele
mhc_b_allele
mhc_type
antigen_seq
tcr_chain
tcr_v_allele
tcr_region
tcr_region_seq

In [109]:
table = frame.copy()
table.drop(['chain_mhc_a', 
            'chain_mhc_b', 
            'chain_mhc_b', 
            'tcr_region_start', 
            'tcr_region_end', 
            'chain_antigen'], axis=1, inplace=True)
table

,pdb_id,species,mhc_a_allele,mhc_b_allele,mhc_type,antigen_seq,tcr_chain_name,tcr_chain,tcr_v_allele,tcr_region,tcr_region_seq
0,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR1,DRGSQS
1,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR2,IYSNGDK
2,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR3,CAVTTDSWGKLQF
3,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,beta,E,TRBV6-5*01,CDR1,QDMNHEY
4,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,beta,E,TRBV6-5*01,CDR2,SVG
5,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,beta,E,TRBV6-5*01,CDR3,CASRPGLAGGRPEQYF

In [110]:
test = pd.DataFrame([[1,2,3], [4,5,6], [7,8,8]], columns = ['A', 'A', 'C'], index = ['D', 'D', 'F'])
test.reset_index()

  index  A  A  C
0     D  1  2  3
1     D  4  5  6
2     F  7  8  8

In [119]:
def transform(tb, key):
    nrg = pd.melt(test.reset_index(), id_vars = ['index'])
    dst = pd.melt(test.reset_index(), id_vars = ['index'])
    
    colname = '_'.join([key[1][0], key[1][1]])
    try:
        tb.insert(tb.shape[1], 'len_tcr_region', '')
        tb.insert(tb.shape[1], 'pos_tcr_region', '')
        tb.insert(tb.shape[1],  'aa_tcr_region', '')
        tb.insert(tb.shape[1], 'len_' + colname, '')
        tb.insert(tb.shape[1], 'pos_' + colname, '')
        tb.insert(tb.shape[1],  'aa_' + colname, '')
        tb.insert(tb.shape[1], 'nrg_' + colname, '')
        tb.insert(tb.shape[1], 'dst_' + colname, '')
    except ValueError:
        print 'COLUMN ALREADY EXISTS'
    
    cond = (tb['tcr_chain_name'] == key[0][0]) & (tb['tcr_region'] == key[0][1])
    cut_index = tb[cond].index.tolist()[0]
    #if nor any(tb[cond][])
    res = pd.concat([tb.iloc[:cut_index, :], pd.concat(nrg.shape[0]*[tb[cond]]), tb.iloc[cut_index + 1:, :]])
    res.loc[cond, 'len_tcr_region'] = 2
    
    return res

In [120]:
transform(table, (('alpha', 'CDR3'), ('alpha', 'CDR1')))

COLUMN ALREADY EXISTS

,pdb_id,species,mhc_a_allele,mhc_b_allele,mhc_type,antigen_seq,tcr_chain_name,tcr_chain,tcr_v_allele,tcr_region,tcr_region_seq,len_tcr_region,pos_tcr_region,aa_tcr_region,len_alpha_CDR1,pos_alpha_CDR1,aa_alpha_CDR1,nrg_alpha_CDR1,dst_alpha_CDR1
0,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR1,DRGSQS,,,,,,,,
1,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR2,IYSNGDK,,,,,,,,
2,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR3,CAVTTDSWGKLQF,2,,,,,,,
2,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR3,CAVTTDSWGKLQF,2,,,,,,,
2,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR3,CAVTTDSWGKLQF,2,,,,,,,
2,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR3,CAVTTDSWGKLQF,2,,,,,,,
2,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR3,CAVTTDSWGKLQF,2,,,,,,,
2,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR3,CAVTTDSWGKLQF,2,,,,,,,
2,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR3,CAVTTDSWGKLQF,2,,,,,,,
2,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR3,CAVTTDSWGKLQF,2,,,,,,,
2,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,alpha,D,TRAV12-2*02,CDR3,CAVTTDSWGKLQF,2,,,,,,,
3,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,beta,E,TRBV6-5*01,CDR1,QDMNHEY,,,,,,,,
4,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,beta,E,TRBV6-5*01,CDR2,SVG,,,,,,,,
5,1ao7,HomoSapiens,A*02:01:59,B2M,MHCI,LLFGYPVYV,beta,E,TRBV6-5*01,CDR3,CASRPGLAGGRPEQYF,,,,,,,,

In [175]:
test = pd.DataFrame([[1,2,3], [4,5,6], [7,8,8]], columns = ['A', 'A', 'C'], index = ['D', 'D', 'F'])
test.columns = [1,2,3]
test.index = [1,2,3]
test = test.reset_index()
test1 = pd.melt(test, id_vars = ['index'])

test = pd.DataFrame([[1,2,3], [4,5,6], [7,8,8]], columns = ['A', 'A', 'C'], index = ['D', 'D', 'F'])
test.columns = ['A', 'B', 'C']
test.index = ['A', 'B', 'C']
test = test.reset_index()
test2 = pd.melt(test, id_vars = ['index'])
test1

   index variable  value
0      1        1      1
1      2        1      4
2      3        1      7
3      1        2      2
4      2        2      5
5      3        2      8
6      1        3      3
7      2        3      6
8      3        3      8

In [162]:
pd.merge(test1, test2, on='value')

    index_x variable_x  value index_y variable_y
0         1          1      1       A          A
1         2          1      4       B          A
2         3          1      7       C          A
3         1          2      2       A          B
4         2          2      5       B          B
5         3          2      8       C          B
6         3          2      8       C          C
7         3          3      8       C          B
8         3          3      8       C          C
9         1          3      3       A          C
10        2          3      6       B          C

In [181]:
test1

   index variable  value
0      1        1      1
1      2        1      4
2      3        1      7
3      1        2      2
4      2        2      5
5      3        2      8
6      1        3      3
7      2        3      6
8      3        3      8

In [179]:
test2.loc[:,['variable', 'value']] = test1[['variable', 'value']]

In [180]:
test2

  index variable  value
0     A        1      1
1     B        1      4
2     C        1      7
3     A        2      2
4     B        2      5
5     C        2      8
6     A        3      3
7     B        3      6
8     C        3      8